In [1]:
#dependencies
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [2]:
#import two csv files
play_store = "Resources/googleplaystore.csv"
reviews="Resources/googleplaystore_user_reviews.csv"
play_store_df= pd.read_csv(play_store)
reviews_df= pd.read_csv(reviews)

In [3]:
reviews_df.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

In [4]:
#drop
del play_store_df["Category"]
del play_store_df["Size"]
del play_store_df["Type"]
del play_store_df["Last Updated"]
del play_store_df["Current Ver"]    
del play_store_df["Android Ver"]
play_store_df.head()

,App,Rating,Reviews,Installs,Price,Content Rating,Genres
0,Photo Editor & Candy Camera & Grid & ScrapBook,4.1,159,"10,000+",0,Everyone,Art & Design
1,Coloring book moana,3.9,967,"500,000+",0,Everyone,Art & Design;Pretend Play
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",4.7,87510,"5,000,000+",0,Everyone,Art & Design
3,Sketch - Draw & Paint,4.5,215644,"50,000,000+",0,Teen,Art & Design
4,Pixel Draw - Number Art Coloring Book,4.3,967,"100,000+",0,Everyone,Art & Design;Creativity

In [5]:
#
del reviews_df["Translated_Review"]
reviews_df.head()

                     App Sentiment  Sentiment_Polarity  Sentiment_Subjectivity
0  10 Best Foods for You  Positive                1.00                0.533333
1  10 Best Foods for You  Positive                0.25                0.288462
2  10 Best Foods for You       NaN                 NaN                     NaN
3  10 Best Foods for You  Positive                0.40                0.875000
4  10 Best Foods for You  Positive                1.00                0.300000

In [11]:
#reviews_df=reviews_df.replace(np.nan, "", regex=True)
reviews_df= reviews_df.dropna(subset= None, how='any', inplace=True)
reviews_df.head()

AttributeError: 'NoneType' object has no attribute 'dropna'